---
layout: default.hbs
title: rgbaster
description: rgbaster
keyword: rgbaster
---

<div class="thumbnail">
  <img src="img/sample02.jpg" alt="" id="sample">
</div>
<div class="color js-color"></div>